<Limit GET POST PUT DELETE>
    Allow from all
</Limit>

RewriteEngine On
# RewriteBase /~user12/booker/server/api/events/
RewriteBase /my/courses/booker/server/api/events/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php

