<Limit GET POST PUT DELETE>
    Allow from all
</Limit>


RewriteEngine On
#RewriteBase /~user12/booker-server/server/api/rooms/
RewriteBase /my/courses/booker-server/server/api/rooms/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php
